<footer class="main-footer footer-distributed">

	<div class="footer-left">
		
		<p class="footer-company-name">Reservem v{{ app_version }}  - Université de Bourgogne Franche Compté &copy; 2015</p>
		
	</div>

	<div class="footer-right">

		

	</div>

</footer>