<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description"content="" />
        <meta name="keywords" content="" />
        <meta name="robots" content="index,follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3">
        <meta http-equip="cache-control" content="no-cache">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
           {% stylesheets
                'bundles/zogsutils/js/select2/select2.css'
                'bundles/zogsutils/js/tagsinput/bootstrap-tagsinput.css'
                'bundles/zogsutils/js/datetimepicker/jquery.datetimepicker.css'
                'bundles/zogsutils/js/checkboxlist/ui.dropdownchecklist.standalone.css'
                'bundles/zogsutils/js/mmenu/css/jquery.mmenu.css'
                'bundles/zogsutils/templates/footer/css/footer-distributed-with-contact-form.css'   
                'bundles/zogsstyle/css/default/bootstrap/css/bootstrap.css'
                'bundles/zogsstyle/css/default/default.css'
                filter="cssrewrite"      
                output="css/compiled/base.css"       
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}  
        {% endblock %} 

    </head>


    <body>

            <div class="container container-main">
                {% block page_content %}
                {% endblock %}
            </div>


        {% block javascripts %}
            {% javascripts
                '@ZogsUtilsBundle/Resources/public/js/jquery_1.11.min.js'
                '@ZogsUtilsBundle/Resources/public/js/checkboxlist/jquery-ui.min.js'
                '@ZogsUtilsBundle/Resources/public/js/checkboxlist/ui.dropdownchecklist-1.4-min.js'
                '@ZogsUtilsBundle/Resources/public/js/php_functions.js'
                '@ZogsUtilsBundle/Resources/public/js/typeahead.js/handlebars-v2.0.0.js'
                '@ZogsUtilsBundle/Resources/public/js/typeahead.js/typeahead.bundle.js'
                '@ZogsUtilsBundle/Resources/public/js/select2/select2.min.js'
                '@ZogsUtilsBundle/Resources/public/js/select2/locale/select2_locale_fr.js'
                '@ZogsUtilsBundle/Resources/public/js/tagsinput/bootstrap-tagsinput.js'
                '@ZogsUtilsBundle/Resources/public/js/datetimepicker/jquery.datetimepicker.js'
                '@ZogsUtilsBundle/Resources/public/js/timeago/jquery.timeago.js'
                '@ZogsUtilsBundle/Resources/public/js/mmenu/js/jquery.mmenu.min.js'
                '@ZogsUtilsBundle/Resources/public/js/utils.js'
                '@ZogsStyleBundle/Resources/public/css/default/bootstrap/js/bootstrap.js'
                '@ZogsUserBundle/Resources/public/js/*.js'
                '@ZogsWorldBundle/Resources/public/js/*.js'
                output="js/compiled/base.js"
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}


        <script type="text/javascript">
            $(document).ready(function() {
                {% block document_ready %}{% endblock %}
            });
        </script>
    </body>
</html>
